<FlexboxLayout class="page">
    <GridLayout rows="*, auto">
        <StackLayout class="form" row="0">
            <Image class="logo" src="~/images/logo.png"></Image>
            <Label class="header" text="APP NAME"></Label>>

            <PreviousNextView *ngIf="showFullLoginForm">
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" class="input-field">
                        <TextField class="input" hint="Email" [isEnabled]="!processing"
                            keyboardType="email" autocorrect="false"
                            autocapitalizationType="none" [(ngModel)]="user.email"
                            returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="1" class="input-field">
                        <TextField #password class="input" [isEnabled]="!processing"
                            hint="Password" secure="true" [(ngModel)]="user.password"
                            [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                            (returnPress)="focusConfirmPassword()"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
                        <TextField #confirmPassword class="input" [isEnabled]="!processing"
                            hint="Confirm password" secure="true" [(ngModel)]="user.confirmPassword"
                            returnKeyType="done"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
                </GridLayout>
            </PreviousNextView>

            <Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" [isEnabled]="!processing"
                (tap)="submit()" class="btn btn-primary m-t-20"></Button>
            <Label *ngIf="isLoggingIn && showFullLoginForm" text="Forgot your password?" class="login-label"
                (tap)="forgotPassword()"></Label>
        </StackLayout>

        <Label row="1" class="login-label sign-up-label" (tap)="toggleForm()">
            <FormattedString>
                <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
                <Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
            </FormattedString>
        </Label>
    </GridLayout>
</FlexboxLayout>